@font-face {
  font-family:"Amble";
  font-weight: normal;
  src: url("/amble-font/Amble-Regular.ttf");
}

@font-face {
  font-family:"Amble";
  font-weight: normal;
  font-style: italic;
  src: url("/amble-font/Amble-Italic.ttf");
}

@font-face {
  font-family:"Amble";
  font-weight: bold;
  src: url("/amble-font/Amble-Bold.ttf");
}

/*@font-face {*/
  /*font-family:"Amble";*/
  /*font-weight: bold;*/
  /*font-style: italic;*/
  /*src: url("/amble-font/Amble-BoldItalic.ttf");*/
/*}*/

/*@font-face {*/
  /*font-family:"Amble";*/
  /*font-weight: light;*/
  /*src: url("/amble-font/Amble-Light.ttf");*/
/*}*/

/*@font-face {*/
  /*font-family:"Amble";*/
  /*font-weight: light;*/
  /*font-style: italic;*/
  /*src: url("/amble-font/Amble-LightItalic.ttf");*/
/*}*/