@import "nib"
@import "basic"

.horizontal-form {
  .errors {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: #990000;
  }
  input.error {
    border-color: #990000;
  }

  .row {
    overflow: hidden;
    display: flex;
    margin: 15px 0;
    label {
      display:block;
      float:left;
      flex: 1;

    }
    .input-with-errors {
      width: 300px;
      input[type="text"], input[type="password"], input[type="email"] {
        box-sizing: border-box;
        width: 100%;
      }
      ul.errors {
        width: 100%
      }
    }

  }
  .buttons {
    text-align: right;
    margin: 15px 0;
  }
}

.login-form {
  fieldset {
    background-color: #f5f5f5;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%);
    border-radius: 10px;
    display: block;
    overflow: hidden;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -250px;
    legend {
      font-weight: bold;
    }
  }
}

