@font-face {
  font-family:"Greyscale Basic";
  font-weight: normal;
  src: url("/greyscale-basic-font/Greyscale_Basic_Regular.ttf");
}

@font-face {
  font-family:"Greyscale Basic";
  font-weight: normal;
  font-style: italic;
  src: url("/greyscale-basic-font/Greyscale_Basic_Regular_Italic.ttf");
}

@font-face {
  font-family:"Greyscale Basic";
  font-weight: bold;
  src: url("/greyscale-basic-font/Greyscale_Basic_Bold.ttf");
}

@font-face {
  font-family:"Greyscale Basic";
  font-weight: bold;
  font-style: italic;
  src: url("/greyscale-basic-font/Greyscale_Basic_Bold_Italic.ttf");
}